div{
    width: 96px;
    height: 40px;
    background-color: #7aa874;
    margin: 10px auto;
    /* box-shadow: 1px 4px 8px greenyellow; */
    background-image: url(7dbe40f8af9ee83ab1fa1363d3d2e8c8.jpg);
    background-size: contain;
}
/* 
div:nth-of-type(2n){
    background-color: #f7db6a;
}

div:nth-of-type(3n){
    background-color: #ebb02d;;
}
#one{
    transform: rotate(2deg);
}

#two{
    transform:scale(0.8);
    transform:rotate(-2deg);
}
#three{
    transform: translateY(-5px);
    transform: rotate(2deg);
}
#four{
    transform:skew(-20deg);
} */


